.tabla-responsive {
    width: 100%;
    overflow-x: auto; /* Habilita scroll horizontal */
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
}

/* ===== TABLA DE POSICIONES ===== */
.tabla-posiciones {
    background-color: var(--color-bg-body);
    border-collapse: collapse;
    min-width: 80%;
    white-space: nowrap;
    margin: 0 auto;
    padding: 2rem;
    font-family: var(--fuente-primaria);
}

/* --- HEADER --- */
.tabla-posiciones thead tr {
    background-color: var(--color-primario);
    color: var(--color-letras-secundario);
    font-size: 1rem;
    font-weight: 700;
}

.tabla-posiciones th {
    padding: 1rem 0.5rem;
    text-align: center;
}

.tabla-posiciones th:nth-child(2) {
    text-align: left;
    padding-left: 1rem;
}

/* --- CUERPO --- */
.tabla-posiciones tbody tr {
    border-bottom: 1px solid var(--color-body);
    transition: background-color 0.2s ease;
}

.tabla-posiciones tbody tr:nth-child(even) {
    background-color: var(--color-impares);
}

/* --- CELDAS --- */
.tabla-posiciones td {
    padding: 0.75rem 0.5rem;
    text-align: center;
    vertical-align: middle;
}

/* --- COLUMNA # (POSICIÓN) --- */
.tabla-posiciones td:first-child {
    font-weight: 700;
}

/* --- COLUMNA EQUIPO --- */
.tabla-posiciones td.equipo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    text-align: left;
    padding-left: 1rem;
    font-size: 1.1rem;
}

.tabla-posiciones td.equipo img {
    width: 1.8rem;
    height: 1.8rem;
    object-fit: contain;
}

/* --- COLUMNA PUNTOS --- */
.tabla-posiciones .pts {
    font-weight: 900;
}

/* ===== RESPONSIVE ===== */

@media (min-width: 900px) {
    .tabla-posiciones tbody tr:hover {
        background-color: var(--color-hover);
    }
}

@media (max-width: 900px) {
    .tabla-posiciones td.equipo {
        font-size: 0.9rem;

    }
    .tabla-posiciones td {
        padding: 0.75rem 1rem;
    }

    /* Fijar segunda columna para scroll en movil (Equipo) */
    .tabla-posiciones th:nth-child(2),
    .tabla-posiciones td.equipo {
        position: sticky;
        left: 0;
        z-index: 2;
    }

    .tabla-posiciones th:nth-child(2) {
        background-color: var(--color-primario);
    }

    .tabla-posiciones tbody tr:nth-child(odd) td.equipo {
        background-color: var(--color-blanco);
    }

    .tabla-posiciones tbody tr:nth-child(even) td.equipo {
        background-color: var(--color-impares);
    }
}
