/* ===== TORNEO MAIN ===== */
.torneo-main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 10rem;
    gap: 2rem;
}

/* ===== INFORMACION TORNEO ===== */
.informacion-torneo{
    grid-column: span 5 / span 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;

    position: relative;
    background-color: var(--color-blanco);
    border-radius: 0.75rem;
    border-left: 8px solid var(--color-primario);
    border-bottom: 5px solid transparent;
    box-shadow: var(--sombra-ultra-suave);
}

.informacion-torneo article{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.informacion-torneo article h4 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-letras-cuaternario);
    padding-bottom: 0.3rem;
}

.informacion-torneo article p{
    font-size: 1.1rem;
    font-weight: bolder;
}

.barra-status {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.status-activo::before {
    background-color: var(--color-success);
    color: var(--color-blanco);
    content:"";
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 9999px;
}

.status-finalizado::before {
    background-color: var(--color-error);
    color: var(--color-blanco);
    content:"";
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 9999px;
}

/* ===== TABLA DE POSICIONES ===== */
.tabla-posiciones-torneo{
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-row-start: 2;
}

.tabla-posiciones-torneo .data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.tabla-posiciones-torneo h2{
    font-size: 1.8rem;
    padding-bottom: 0.3rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon {
    font-size: 1.8rem;
    color: var(--color-primario)
}

.tabla-posiciones-torneo .tabla-completa{
    font-size: 1.2rem;
    color: var(--color-links);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.tabla-posiciones{
    width: 100%;
}


/* ===== SOBRE TORNEO ===== */
.sobre-torneo{
    grid-column-start: 5;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    background-color: var(--color-blanco);
    height: auto;
    border-radius: 1rem;
}

.sobre-torneo h3{
    font-size: 1.6rem;
    padding: 1rem;
    border-bottom: 1px solid var(--color-secundario);
    text-align: left;
}

.sobre-torneo p{
    font-size: 1rem;
    text-align: left;
    line-height: 1.3rem;
    color: var(--color-letras-terceario);
}

/* ===== PARTIDOS TORNEO ===== */
.partidos-torneo{
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-row-start: 4;
}

.partidos-torneo .data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.partidos-torneo h2{
    font-size: 1.8rem;
    padding-bottom: 0.3rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.partidos-torneo .fixture-completo{
    font-size: 1.2rem;
    color: var(--color-links);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.lista-partidos-torneo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1.2rem;
    padding-bottom: 2rem;
}
